/* PT Serif and Manrope fonts */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=PT+Serif:wght@400;700&display=swap");

/* Colors */
:root {
  --black: #4f443b;
  --ecru: #f4f0e6;
  --blue: #b9cdd2;
  --brown: #ba885c;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--ecru);
}

/* Typography */
h1,
h2,
h3 {
  font-family: "PT Serif", serif;
  font-weight: 600;
  color: var(--black);
  margin: 0;
}

h1 {
  font-size: 5.063rem; /* 81px */
}

h2 {
  font-size: 3.375rem; /* 54px */
}

h3 {
  font-size: 2.25rem; /* 36px */
}

h4 {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 1.5rem; /* 24px */
  color: var(--black);
}

p {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 1rem; /* 16px */
  color: var(--black);
  margin: 0;
}

.title {
  font-weight: 600;
}

.author {
  color: gray;
  margin-top: 0.5rem;
}

input {
  font-family: "Manrope", sans-serif;
}
